.cabecalho {
    background-color: #00161C;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #103D4A;

}

.cabecalho__logo {
    width: 20%;
    margin: 0 auto;
    padding: 30px 0;
}

.cabecalho__navegacao {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 60px;
}

.cabecalho__navegacao ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

.cabecalho__link  {
    margin-right: 20px;
    cursor: pointer;
}

.cabecalho__link a {
    text-decoration: none;

    color: #FFF;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
}

.cabecalho__link a:hover {
    text-decoration: underline;
}