.cabecalho {
    color: #CCC;

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0.75rem 0;

    border-bottom: 1px solid #103D4A;

    position: absolute;

}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
   text-align: center;
}

.cabecalho__link  {
    margin-right: .7rem;

    display: inline-block;

    margin: 0 .7rem 1.25rem .7rem;
}