.chamada  {
    background-color: #00161C;

    display: flex;
    flex-direction: column;

    text-align: center;
}

.chamada__titulo {
    margin: 30px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    text-transform: uppercase;
    color: #FFF;
}

.chamada__texto {
    padding: 20px;

    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 27px;
    color: #FFF;
}

.chamada__botao {
    padding: 20px 20px;
    margin: 20px auto 40px;

    border: 1px solid #FFF;
    border-radius: 8px;

    width: 300px;
    height: 10px;

    color: #FFF;
    font-size: 15px;
    font-style: normal;
    line-height: 16px;

    cursor: pointer;
}