.destaques {
    background-color: var(--azul-claro);
    
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.destaques__painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2rem;
    margin-bottom: .75rem;
}

.destaques__painel-imagem {
    width: 100vw;
    max-width: 600px;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: .5rem;
}

.destaques__painel-texto {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: normal;
}

.destaques_botao {
    margin-top: 1.75rem;

    border-color: var(--vermelho-forte);
    color: var(--vermelho-forte);
}