.planos {
    background-color: var(--cinza-claro);

    padding-top: 3rem;
    padding-bottom: 3rem;
}

.planos__titulo {
    display: block;

    text-align: center;

    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 1rem;
}

.planos__cartoes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cartao {
    background-color: var(--branco);
    border-radius: 5px;

    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.063);

    margin-bottom: 2rem;

    width: 100%;
    max-width: 400px;
}

.cartao--start {
    color: var(--planos-cartao-start);
}

.cartao--ultra {
    color: var(--planos-cartao-ultra);
}

.cartao--mega {
    color: var(--planos-cartao-mega);
}

.cartao__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    
    padding: 1rem 0;
    
    border-bottom: 2px solid var(--cinza-claro);
}

.cartao__conteudo {}

.cartao__preco {
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;

    padding: 1rem 0;
}

.cartao__texto {
    color: var(--fonte-cinza);
    text-align: center;
    line-height: 1.6;
}

.cartao__botao {
    border: 1px solid;
    margin: 1.25rem auto;

    font-weight: 700;
    font-size: 1.25 rem;

    width: 70%;
}

.cartao__botao--start {
    border-color: var(--planos-cartao-start);
}

.cartao__botao--mega {
    border-color: var(--planos-cartao-mega);
}

.cartao__botao--ultra {
    border-color: var(--planos-cartao-ultra);
}
